.reminder-overview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  padding: 2px;
  margin-bottom: 10px;
}

.reminder {
    width: 300px;
    flex: 1;
    text-align: left;
    overflow: hidden;       
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 30px;
    padding-left: 5px;
    margin: 0 1px 0 1px;
    border: 1px solid #757575;
    border-radius: 1px;
}

.reminder:hover,
.time-box:hover {
    background-color: #000000;
    border-radius: 5px;
    border: 1px solid #757575;
    cursor: pointer;
}

.time-box {
    width: 50px;
    
    line-height: 28px;
    border: 1px solid #757575;
    border-radius: 1px;
    margin: 0;
}

.remove-button { 
    background: transparent;
    border: none;
    color: #ff4d4f;
    cursor: pointer;
    font-size: 16px;
    width: 50px;
    padding: 1px;
    border: 1px solid #757575;
    border-radius: 1px;
}
