.reminder-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
}

.reminder-input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex-grow: 1;
}

.reminder-button {
    background-color: #535353 !important;
}
